@{
    ViewData["Title"] = "Spotkania";
}
<h1>@ViewData["Title"]</h1>


<p>AAAAAAAAAAAAAAAAAAAAAAAAAa.</p>

@*@model ScheduleCore.QueryHandlers.AppointmentsDto

<h2>AppointmentsDto</h2>
<address>
    @Model.AppointmentStart<br>
    @Model.AppointmentEnd<br>
    @Model.City<br>


</address>*@