@model int

<a>Klient dodany</a>
<a>Id = @Model</a>

<form method="Get">
	<div class="mb-3">
	<button type="Submit" class="btn btn-primary me-3"
	asp-controller="Home"
	asp-action="Clients">
	Powrót</button>
	</div>
</form>