@{
    ViewData["Title"] = "Spotkania";
}
<h1>@ViewData["Title"]</h1>

<p>AAAAAAAAAAAAAAAAAAAAAAAAAa.</p>

@model ScheduleCore.Entities.Address2

<h2>Contact</h2>
<address>
    @Model.City<br>
    @Model.PostalCode<br>

</address>